<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Aardvark.Base" version="4.2.4" targetFramework="net461" />
  <package id="Aardvark.Base.Telemetry" version="4.2.4" targetFramework="net461" />
  <package id="Aardvark.Data.Points.Base" version="4.4.0" targetFramework="net461" />
  <package id="DevILSharp" version="0.2.4" targetFramework="net461" />
  <package id="FSharp.Core" version="4.3.1" targetFramework="net461" />
  <package id="IxMilia.Stl" version="0.1.1" targetFramework="net461" />
  <package id="LASzip" version="0.2.0" targetFramework="net461" />
  <package id="System.Collections.Immutable" version="1.4.0" targetFramework="net461" />
  <package id="Uncodium.SimpleStore" version="2.0.0" targetFramework="net461" />
  <package id="Unofficial.laszip.netstandard" version="2.2.1" targetFramework="net461" />
</packages>